<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Modifica Task</title>
</head>

<body>
<h1>Modifica Task</h1>

<form
      th:action="@{'/projects/' + ${project.id} + '/task/' + ${task.id} + '/modifica'}"
      method="POST">
      
     	<table>
        <tr>
            <td><label for="taskName">Task Name</label>
            <td><input id=taskName type="text" th:field="${task.nome}" placeholder="NOME TASK" required/></td>
            <!--<td th:if="${#fields.hasErrors('modificaProjectForm.nome')}" th:errors="${modificaProjectForm.nome}" th:style="'color:red'"></td> --->
        </tr>
         <tr>
            <td><label for="taskDescription">Descrizione</label></td>
            <td><input id="taskDescription" type="text" th:field="${task.descrizione}" placeholder="DESCRIZIONE TASK"/></td>
            <!--<td th:if="${#fields.hasErrors('modificaProjectForm.descrizione')}" th:errors="${modificaProjectForm.descrizione}" th:style="'color:red'"></td>-->
        </tr>
        
        </table>
        <p><button type="submit">Modifica</button></p>
        </form>
        
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
        